.root {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.image {
  width: 300px;
  height: 300px;
  padding: 8px;
  object-fit: contain;
  background-color: #f8f8f8;
}

.favoriteIcon {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 32px;
  height: 32px;
}